name: CI

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 5
    - name: Use node version ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Remove existing TypeScript
      run: |
        npm uninstall typescript --no-save
        npm uninstall tslint --no-save
    - name: install dependencies
      run: | 
        npm install "microservices/user" --production=false
        /home/runner/work/Eat-Up/Eat-Up/microservices/user/node_modules/.bin/eslint ".\src\*.ts"
    #- name: Tests
      #run:  npm test -- --no-lint
